.article {
  padding: 12px 0 329px;
  position: relative;
}
.article-blob {
  position: absolute;
  right: 0;
  top: 105px;
  z-index: -1;
  height: auto;
  width: auto;
}
.article__wrapper {
  position: relative;
}
.article__h2 {
  text-align: center;
  position: relative;
  margin-bottom: 114px;
  &::before {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50%;
    height: 2px;
    transform: translateX(-50%);
    width: 56px;
    background-color: $black;
  }
}
.article-cards {
  display: flex;
  column-gap: 34px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
// Dots
.article-dots__corner {
  position: absolute;
  top: -42px;
  left: 0;
  z-index: -1;
}
.article-dots__bottom {
  position: absolute;
  bottom: -43px;
  right: 91px;
  z-index: -1;
}
// Cards
.article-card {
  max-width: 350px;
  width: 100%;
  height: 512px;
  box-shadow: 0 0 6px $black;
  border-radius: 24px;
  overflow: hidden;
  background-color: $white;
  @include transition-time;
}
// Cards Details
.article-card__details {
  padding: 20px 54px 0 33px;
  position: relative;
}
.article-details__h3 {
  line-height: 32px;
  font-size: 21px;
  margin-bottom: 12px;
}
.article-details__p {
  line-height: 28px;
  margin-bottom: 29px;
  animation: fade-in-out 1s normal;
}
.arrow-icon__small {
  @include transition-time;
  transform: rotate(0deg);
  margin-left: 14px;
}
.article-details__btn {
  text-align: left;
  background: none;
  font-weight: 600;
  font-size: 17px;
  color: $third-blue;
  @include transition-time;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  animation: fade-in-out 1s normal;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 170%;
    height: 40px;
    left: -250%;
    bottom: -10px;
    z-index: -1;
    background-color: $third-blue;
    transition: left 0.2s ease-in-out;
    border-radius: 0 8px 8px 0;
  }
  &:hover {
    &::before {
      left: -50%;
    }
    color: $white;
    .arrow-icon__small--color {
      fill: $white;
    }
  }
}

// Card Images
.article-card__image {
  height: 240px;
  width: 100%;
  border-radius: 24px 24px 0 0;
  max-height: 240px;
  overflow: hidden;
  @include transition-time;
}
// Card Open
.article-card--read-more {
  height: 580px;
  @include transition-time;
  .article-details__p {
    animation: fade-out-in 1s normal;
  }
  .article-details__btn {
    animation: fade-out-in 1s normal;
    position: absolute;
    top: 280px;
  }
}
// Button
.article-btn {
  position: absolute;
  bottom: 202px;
  width: 100%;
  max-width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 64px;
}
// Media Query
@include LaptopXL {
  .article-cards {
    flex-wrap: nowrap;
  }
  .article-card__details {
    text-align: center;
    padding: 24px;
  }
  .article-details__btn {
    &::before {
      left: -400%;
      border-radius: 8px;
    }
    &:hover {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .arrow-icon__small {
      margin-left: 4px;
    }
  }
  .article-card--read-more {
    .article-details__btn {
      top: 290px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@include Laptop {
  .article-cards {
    flex-wrap: wrap;
    flex-flow: column-reverse;
    gap: 50px 0;
    align-items: center;
  }
}
@include Tablet {
  .article__h2 {
    font-size: 30px;
  }
  .article-card {
    min-height: auto;
  }
  .article-card--read-more {
    height: 530px;
    .article-details__btn {
      top: 240px;
    }
  }
  .article-details__h3 {
    font-size: 18px;
  }
  .article-details__p {
    line-height: 24px;
    font-size: 14px;
  }
  .article-details__btn {
    font-size: 14px;
  }
  .article-btn {
    padding: 12px 48px;
    font-size: 16px;
  }
}
@include MobileL {
  .article {
    padding: 10px 0 220px;
  }
  .article-btn {
    bottom: 120px;
  }
}
@include MobileM {
  .article-details__h3 {
    font-size: 16px;
  }
  .article-details__p {
    font-size: 14px;
    line-height: 20px;
  }
}
