.article {
  padding: 80px 0;
}
.article__h2 {
  text-align: center;
  position: relative;
  margin-bottom: 80px;
  &::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    height: 2px;
    transform: translateX(-50%);
    width: 56px;
    background-color: $black;
  }
}
.article-cards {
  display: flex;
  column-gap: 34px;
  justify-content: center;
  flex-wrap: wrap;
}
// Cards
.article-card {
  max-width: 350px;
  max-height: 100%;
  height: 512px;
  box-shadow: 10px 10px 30px $black;
  border-radius: 24px;
  @include transition-time;
  overflow: hidden;
}
// Cards Details
.article-card__details {
  padding: 20px 54px 0 33px;
  position: relative;
}
.article-details__h3 {
  line-height: 32px;
  font-size: 21px;
  margin-bottom: 12px;
}
.article-details__p {
  line-height: 28px;
  margin-bottom: 4px;
  animation: fade-in-out 1s normal;
}
.article-details__btn {
  text-align: left;
  background: none;
  font-weight: 600;
  font-size: 17px;
  color: $third-blue;
  @include transition-time;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  animation: fade-in-out 1s normal;
  &:hover {
    background-color: $second-blue;
    color: $white;
  }
}
// Card Images
.article-card__image {
  height: auto;
  width: 100%;
  border-radius: 24px 24px 0 0;
  max-height: 240px;
  @include transition-time;
  &:hover {
    scale: 1.2;
  }
}
// Card Open
.article-card--read-more {
  height: 580px;
  @include transition-time;
  .article-details__p {
    animation: fade-out-in 1s normal;
  }
  .article-details__btn {
    animation: fade-out-in 1s normal;
    position: absolute;
    top: 280px;
  }
}
