.downloads {
  padding: 86px 0;
}

.downloads__wrapper {
  display: flex;
}

.downloads-content__text {
  padding: 33px 0 0 88px;
}

.downloads-text__title {
  max-width: 254px;
  position: relative;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 64px;

  &::before {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 2px;
    height: 2px;
    width: 56px;
    background-color: $black;
  }
}

.downloads-text__paragraph {
  font-size: 18px;
  line-height: 30px;
  max-width: 420px;
  padding-right: 40px;
  margin-bottom: 38px;
}

.downloads-text__button {
  padding: 16px 66px 16px 41px;
  position: relative;

  &:hover {
    .downloads-button__arrow {
      fill: white;
    }
  }

  .downloads-button__arrow {
    position: absolute;
    top: 18px;
    right: 41px;
    @include transition-time;
  }
}

// Image
.downloads__image {
  height: auto;
  width: 100%;
  max-width: 665px;
}

// Media Query
@include Laptop {
  .downloads__wrapper {
    flex-flow: column;
  }

  .downloads-content__image {
    position: relative;
    z-index: -1;
    margin: -120px auto 0;
  }

  .downloads__image {
    opacity: 50%;
  }
}

@include Tablet {
  .downloads-content__text {
    text-align: center;
    padding: 0;
  }

  .downloads-text__title,
  .downloads-text__paragraph {
    max-width: 100%;
  }

  .downloads-text__title {
    font-size: 30px;
  }

  .downloads-text__paragraph {
    padding: 0;
    font-size: 16px;
  }

  .downloads-text__title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

@include MobileL {
  .downloads-text__title {
    font-size: 24px;
  }
}