.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 118px 0 113px;
  position: relative;
  overflow: hidden;
}
.footer-dots__image {
  position: absolute;
  left: -19px;
  bottom: -19px;
}
.footer-links {
  display: flex;
  color: $white;
  column-gap: 145px;
}
// Footer Logo
.footer-links__logo {
  max-width: 391px;
  width: 100%;
}
.footer-logo {
  display: block;
  margin-bottom: 17px;
}
.footer-logo__image {
  display: block;
  max-height: 41px;
  height: 100%;
}
.footer-logo__p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 31px;
}
.footer-logo__p--date {
  font-size: 16px;
  margin-bottom: 0;
}

// Footer Boxes
.footer-links__boxes {
  display: flex;
  column-gap: 150px;
  align-items: center;
}
.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  padding: 0;
}
.footer-ul__h2 {
  font-size: 20px;
  margin-bottom: 13px;
}
.footer-li__a {
  color: $white;
  display: block;
  width: fit-content;
}
// Media Query
@include Laptop {
  .footer {
    padding: 20px 0 60px;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 80px;
  }
  .footer-links__boxes {
    column-gap: 0;
    justify-content: space-between;
  }
}
@include MobileL {
  .footer-links__logo {
    text-align: center;
    max-width: 100%;
  }
  .footer-logo__image {
    margin: 0 auto;
  }
  .footer-links__boxes {
    flex-direction: column;
    justify-content: center;
    row-gap: 60px;
  }
  .footer-box {
    text-align: center;
  }
  .footer-li__a {
    width: auto;
  }
}
