.title {
  font-size: 36px;
}
.btn {
  padding: 18px 40px;
  display: inline-block;
  border-radius: 55px;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  @include transition-time;
  position: relative;
  color: $blue;
  background-color: $white;
  border: 2px solid $blue;
  &:hover {
    background-color: $blue;
    color: $white;
    &::after {
      content: "";
      position: absolute;
      bottom: 30%;
      left: 25%;
      right: 25%;
      height: 2px;
      border-radius: 4px;
      background-color: $white;
      animation: line-in 0.4s both 0.2s;
    }
  }
  &:active {
    background-color: $darker-blue;
  }
}
.paragraph {
  color: $light-grey;
  font-weight: 300;
  line-height: 28px;
}
