.nav {
  padding: 56px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 9999;
}
.nav--fixed {
  position: fixed;
  padding: 14px 0;
  width: 70%;
  transform: translateX(-50%);
  margin-top: 4px;
  left: 50%;
  right: 50%;
  outline: 1px solid $light-grey;
  border-radius: 50px;
  animation: navDrop 1s normal;
}
.nav__content {
  display: flex;
  align-items: center;
}
.nav__ul {
  list-style: none;
  display: flex;
  column-gap: 41px;
  justify-content: flex-end;
  width: 100%;
}
.nav__li-a--active {
  color: $second-black;
  font-weight: 700;
}
// Hamburger menu
.hamburger-react {
  margin-left: auto;
  display: none;
}
// Media queries
@media only screen and (min-width: 1600px) {
  .nav--fixed {
    width: 50%;
  }
}
@include LaptopXL {
  .nav--fixed {
    width: 80%;
  }
}
@include Laptop {
  .nav--fixed {
    width: 100%;
    transform: translateX(0);
    left: 0;
    right: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .open {
    overflow: hidden;
  }
  .hamburger-react {
    display: flex;
  }
  .nav__ul {
    display: none;
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .nav__ul--open {
    display: block;
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 0;
    z-index: 9999;
    height: 100vh;
    .nav__li {
      margin: 60px 0;
      justify-content: center;
      display: flex;
    }
    .nav__li-a {
      font-size: 24px;
    }
  }
}
@include MobileL {
  .nav__ul--open {
    .nav__li-a {
      font-size: 20px;
    }
  }
}
