.providers {
  position: relative;
  padding: 128px 0 139px;
  overflow: hidden;
}
.providers__content {
  display: flex;
}
// Providers Image Container
.providers-image__container {
  margin-left: -55px;
}
.providers__image {
  width: 100%;
  max-width: 650px;
  height: auto;
}
// Providers Dots
.providers-dots__container {
  position: absolute;
  bottom: 0;
  right: -46px;
}
// Providers Text Container
.providers-text__container {
  max-width: 480px;
  margin-left: auto;
  padding-top: 57px;
}
.providers-text__h3 {
  line-height: 56px;
  margin-bottom: 59px;
  padding-right: 70px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 0;
    height: 2px;
    width: 56px;
    background-color: $black;
  }
}
.providers-text__paragraph {
  font-size: 18px;
  padding-right: 70px;
  line-height: 30px;
  margin-bottom: 39px;
}
.providers-text__btn {
  margin-left: -5px;
  padding: 16px 50px 15px 49px;
}
// Media Query
@media only screen and (max-width: 1380px) {
  .providers-image__container {
    margin: 0;
    padding-right: 25px;
  }
}
@include Laptop {
  .providers {
    padding: 30px 0;
  }
  .providers__content {
    flex-flow: column-reverse;
  }
  .providers-text__container {
    text-align: right;
  }
  .providers-image__container {
    margin: -120px auto 0;
    position: relative;
    z-index: -1;
  }
  .providers__image {
    opacity: 50%;
  }
  .providers-text__h3 {
    padding: 0;
    &::after {
      display: none;
    }
  }
  .providers-text__paragraph {
    padding: 0;
  }
  .providers-text__btn {
    margin: 0;
  }
}
@include Tablet {
  .providers {
    padding: 90px 0 160px;
  }
  .providers-image__container {
    padding: 0;
  }
  .providers__image {
    max-width: 100%;
  }
  .providers-text__container {
    text-align: center;
    max-width: 100%;
  }
  .providers-text__h3 {
    font-size: 30px;
  }
  .services-title__h2::after {
    top: 50px;
  }
  .providers-text__paragraph {
    font-size: 16px;
  }
}
@include MobileL {
  .providers-text__h3 {
    font-size: 28px;
  }
  .providers-text__paragraph {
    font-size: 14px;
    line-height: 20px;
  }
}
@include Mobile {
  .providers {
    padding-bottom: 130px;
  }
}
