$white: #fff;
$lightest-grey: #d5dbdb;
$second-grey: #bfc9ca;
$light-grey: #7d7987;

$blue: #458ff6;
$darker-blue: #1d62c3;

$second-black: #1f1534;

$black: #000000;

// Fonts
$playfair-display: "Playfair Display", serif;
$archivo-narrow: "Archivo Narrow", sans-serif;
